.header_searchBarWrapper {
  display: none;
}

.formContainer {
  display: block;
  width: 95%;
  position: absolute;
  top: 50%;
  left: 2.5%;
  right: 2.5%;
  transform: translate(0, -50%);
  background-color: rgb(1, 27, 40, 0.6);
}
.formContainer h1 {
  padding: 8px 0;
  font-size: 32px;
  text-align: center;
  background-color: #0d5982;
}
.form {

}
.form label {
  display: block;
  width: auto;
  padding: 8px;
  color: #fff;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
}
.form input {
  display: block;
  width: 100%;
  padding: 8px;
  color: #fff;
  font-size: 16px;
  border: 1px solid #0d5982;
  background-color: #030c15;
}

.form_username, .form_password {
  width: 250px;
  margin: 32px auto 0;
}
.form_extra_links {
  width: 250px;
  margin: 16px auto 0;
}
.form_button {
  width: 80px;
  margin: auto;
  padding: 32px 0;
}
.form button {
  display: block;
  width: 100%;
  padding: 8px;
  color: #fff;
  font-size: 16px;
  border: none;
  background-color: #0d5982;
}
