.torrent_list_table {
  display: block;
  border-radius: 5px;
  font-size: 14px;
}
.torrent_list_table_row_top, .torrent_list_table_row {
  display: grid;
  grid-template-columns: 22% 58% 20%;
  padding: 6px;
  text-align: center;
  align-items: center;
}
.torrent_list_table_row_top {
  background-color: #0d5982 ;
}
.torrent_list_table_row:nth-child(odd) {
  background-color: rgba(1, 27, 40, 0.6);
}
.torrent_list_table_row:nth-child(even) {
  background-color: rgba(1, 24, 35, 0.6);
}
.table_header {
  color: #fff;
  font-size: 14px;
  font-family: 'Graduate', sans-serif;
}
.table_header_category {
  display: block;
}
.table_header_title {
  display: block;
  width: 100px;
  margin-left: 4px;
  text-align: left;
  word-wrap: break-word;
}
.table_header_size {
  display: none;
}
.table_header_time {
  display: none;
}
.table_header_uploader {
  display: none;
}
.table_header_seeders {
  display: none;
}
.table_header_leechers {
  display: none;
}
.table_header_size_seeders_infoColumn {
  display: block;
}

.table_data {
  display: block;
  word-wrap: break-word;
  width: auto;
}
.table_data a {
  font-size: 14px;
}
.table_data_category {
  display: block;
}
.table_data_title {
  display: block;
  margin-left: 4px;
  text-align: left;
}
  .table_data_size {
  display: none;
}
  .table_data_time {
  display: none;
}
  .table_data_uploader {
  display: none;
}
  .table_data_seeders {
  display: none;
}
  .table_data_leechers {
  display: none;
}
  .table_data_size_seeders_infoColumn {
  display: block;
}
@media only screen and (min-width: 375px) {

}
@media only screen and (min-width: 425px) {

}
@media only screen and (min-width: 768px) {
  .torrent_list_table_row_top, .torrent_list_table_row {
    display: grid;
    grid-template-columns: 10% auto 10% 12% 14% 6% 6%;
  }
  .table_header_category {
    display: block;
  }
  .table_header_title {
    display: block;
    margin-left: 4px;
    text-align: left;
  }
  .table_header_size {
    display: block;
  }
  .table_header_time {
    display: block;
  }
  .table_header_uploader {
    display: block;
  }
  .table_header_seeders {
    display: block;
  }
  .table_header_leechers {
    display: block;
  }
  .table_header_size_seeders_infoColumn {
    display: none;
  }

  .table_data_category {
    display: block;
  }
  .table_data_title {
    display: block;
    margin-left: 4px;
    text-align: left;
  }
  .table_data_size {
    display: block;
  }
  .table_data_time {
    display: block;
  }
  .table_data_uploader {
    display: block;
  }
  .table_data_seeders {
    display: block;
  }
  .table_data_leechers {
    display: block;
  }
  .table_data_size_seeders_infoColumn {
    display: none;
  }
}
@media only screen and (min-width: 1024px) {

}
@media only screen and (min-width: 1440px) {

}
