* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {

}
h1, h2, h3, h4, h5, h6{
	font-family: 'Graduate', sans-serif;
  font-weight: 400;
	color: #ffffff;
}
h1 {
	font-size: 56px;
}
h2 {
	font-size: 46px;
}
h3 {
	font-size: 36px;
}
h4 {
  font-size: 24px;
}
a, p, li {
	color: #ffffff;
	font-size: 16px;
	font-family: 'Raleway', sans-serif;
	text-decoration: none;
	list-style: none;
}
