.main {
  display: block;
  width: 95%;
  margin: 0 auto;
}


/* HOME PAGE */

.homePage_onDisplay  {
  display: block;
  width: 100%;
  margin-bottom: 64px;
}
.homePage_onDisplay_title {
  padding: 8px 12px;
  background-color: #0d5982;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 1px solid #043854;
}
.homePage_onDisplay_title h5 {
  font-size: 18px;
}
.homePage_onDisplay_content {
  background-color: #0d5982;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* BROWSE PAGE */
.flexWrapper {
  display: block;
  margin: 0 32px 32px;
}
.flexContainer {
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  justify-content: space-around;
}
.categoryContainer {
  display: block;
  width: 180px;
  height: 220px;
  margin: 32px 8px 0;
  padding: 16px;
  background-color: #011B28;
}
.title {
  text-align: center;
  margin-bottom: 16px;
}
.category-navContainer {

}
.category-nav {

}
.category-nav li {
  display: block;
  margin: 8px; 0;
}
.category-nav li a{
  margin: 4px;
  padding: 4px;
}
.hover {
  display: none;
}
.category-nav li a:hover{
  margin: 23px;
  padding: 4px;
  text-decoration: underline;
}

/* Torrent View */

.torrentViewer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  grid-gap: 10px;
}

.torrentViewer_title {
  grid-column: 1 / span 2;
}

.torrentViewer_info {
  background-color: #043854;
}
.torrentViewer_info_item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #011B28;
}

.torrentViewer_description {
  grid-column: 1 / span 2;
}
@media only screen and (min-width: 768px) {
  .main {

  }
}
@media only screen and (min-width: 1024px) {

}
