.main {
  display: block;
  width: 95%;
  margin: 0 auto;
}


/* HOME PAGE */

.homePage_onDisplay  {
  display: block;
  width: 100%;
  margin-bottom: 64px;
}
.homePage_onDisplay_title {
  padding: 8px 12px;
  background-color: #0d5982;
  border-bottom: 1px solid #043854;
}
.homePage_onDisplay_title h5 {
  font-size: 18px;
}
.homePage_onDisplay_content {
  
}

/* BROWSE PAGE */
.flexWrapper {
  display: block;
  margin: 0 32px 32px;
}
.flexContainer {
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  justify-content: space-around;
}
.categoryContainer {
  display: block;
  width: 180px;
  height: 220px;
  margin: 32px 8px 0;
  padding: 16px;
  background-color: #011B28;
}
.title {
  text-align: center;
  margin-bottom: 16px;
}
.category-navContainer {

}
.category-nav {

}
.category-nav li {
  display: block;
  margin: 8px; 0;
}
.category-nav li a{
  margin: 4px;
  padding: 4px;
}
.hover {
  display: none;
}
.category-nav li a:hover{
  margin: 23px;
  padding: 4px;
  text-decoration: underline;
}

/* Torrent View */

.torrentViewer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.torrentViewer_title {
  grid-column: 1 / span 2;
  margin-top: 24px;
  padding: 4px 6px 6px;
  background-color: #0d5982;
  word-wrap: break-word;
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  justify-content: space-between;
}
.torrentViewer_title h1 {
  font-size: 18px;
}

.torrentViewer_info_spacer {
  grid-column: 1 / span 2;
  width: 100%;
  height: 5px;
  background-color: #043854;
}
.torrentViewer_info {
  grid-column: 1 / span 2;
  padding: 4px 0;
  background-color: rgb(1, 27, 40, 0.6);
}
.torrentViewer_info_item {
  display: grid;
  width: 100%;
  padding: 4px 0 4px 32px;
  grid-template-columns: 120px 16px auto;
}
.torrentViewer_info_item a {
  font-size: 14px;
}

.torrentViewer_description {
  grid-column: 1 / span 2;
  margin-top: 24px;
  background-color: rgb(1, 27, 40, 0.6);
}
.torrentViewer_description h1 {
  font-size: 18px;
  padding: 4px 6px 6px;
  background-color: #0d5982;
}
.torrentViewer_description_p_container {
  padding: 8px;
}
.torrentViewer_description p {
  font-size: 14px;
}

@media only screen and (min-width: 768px) {
  .main {
    max-width: 900px;
  }
  .torrentViewer_info_left {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1
  }
  .torrentViewer_info_right {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1
  }
  .torrentViewer_info_spacer {
    display: none;
  }
}
@media only screen and (min-width: 1024px) {
  .main {
    width: 70%;
    min-width: 900px;
    max-width: 70%;
  }
}
